html,
body {
  margin: 0;
  width: 100%;
  font-family: $poppins;
}

.discord {
  background: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  border: 2px solid #eee;
  z-index: 8;
  padding: 0 8px;
  right: 3vw;
  position: fixed;
  bottom: 30px;
  cursor: pointer;
  color: $dark-color !important;
}
