.newsletter {
  text-align: center;
  width: 90%;
  background-color: #0c344b;
  border-radius: 60px;
  color: #fff;
  padding: 32px 24px;
  z-index: 1;
  position: relative;
  top: -28vh;

  .input-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    background: #002c39;
    padding: 8px 24px;
    border-radius: 5px;
    color: #fff;

    .input-field {
      margin: 0;
      flex: 0.8;
      .subscribe-email {
        margin: 0;
        color: #fff;
      }
      .subscribe-email::placeholder {
        color: #bdbdbd;
      }
      .subscribe-email.valid {
        border-bottom: 1px solid #9e9e9e !important;
        box-shadow: none !important;
      }
      .subscribe-email.error {
        border-bottom: 1px solid #f44336 !important;
        box-shadow: none !important;
      }
      .subscribe-email.error:focus {
        border-bottom: 1px solid #f44336 !important;
        box-shadow: 0 1px 0 0 #f44336 !important;
      }
      .subscribe-email-label {
        margin-top: 8px;
        color: #f44336;
        display: none;
      }
    }
  }

  .discord-logo {
    height: 60px;
    margin: 0 8px;
    cursor: pointer;
  }

  .github-logo {
    height: 35px;
    margin: 0 8px;
    cursor: pointer;
  }

  @media #{$large-and-up} {
    top: -10vw;
  }

  #subscribeBtn{
    background-color: #ff6700;
    padding: 0px 16px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 36px;
    border: 1px solid #ff6700;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .loading-btn{
    display: inline-block;
    border: 1px solid #ff6700;
    color: #fff !important;
    text-align: center;
    text-decoration: none;
    box-sizing: border-box;
    background-color: transparent;
    outline: none;
    transition: all ease 0.5s;
    cursor: pointer;
    font-weight: 500;
    top: 5px;
    left: 5px;
  }
  
  .loading-active{
    position: relative;
    font-size: 0;
    overflow: hidden;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border-left-color: #1b4154;
    animation: rotate 1.4s ease 0.5s infinite;
    cursor: none;
    top: 5px;
    left: 5px;
  }
  
  @keyframes rotate {
      0%{
        transform: rotate(360deg);
      }
    }
  
  .loading-sucess, .loading-error{
    position: relative;
    background-color: #ff6700;
    animation: bounce .3s ease-in;
  }
  
  @keyframes bounce {
    0%{
    transform: scale(0.5);
    }
  }
  
  .loading-sucess:before, .loading-error:before{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin: 0;
    width: 25px;
    height: 25px;
  }
  
  .loading-sucess:before{
    background: url(../images/check-solid.svg) no-repeat center center/cover;
  }
  
  .loading-error:before {
    background: url(../images/cancel.svg) no-repeat center center/cover;
  }
    
}
