<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Learn</title>
  <link type="text/css" rel="stylesheet" href="/css/app.css" media="screen,projection" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
    integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <link
    href="https://fonts.googleapis.com/icon?family=Material+Icons|Raleway:100,200,300,400,500,600,700,800,900|Open+Sans:300,400,600,700,800"
    rel="stylesheet">
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script>
    $(document).ready(function () {
      $('.sidenav').sidenav({ edge: 'right' });
    });
  </script>
</head>

<body>
  {{partial "sidenav.html" . }}
  <div class="course">
    {{ partial "topbar-white.html" . }}
    <div class="topbar-breadcrumb valign-wrapper hide-on-small-only">
      <a href="/"><span>{{.Parent.Parent.Title}}</span></a>
      <a href="{{.Parent.Permalink}}" class="material-icons">chevron_right</a>
      <a href="{{.Parent.Permalink}}"><span>{{.Parent.Title}}</span></a>
    </div>

    <div style="background-color: #EBF4F5">
      <div class="row-top-padding">
        <div class="row">
          <div class="col m3 l3 hide-on-small-only">
            <div class="left-wrapper">
              {{$selected := ""}}
              {{$page := .Page}}
              {{range $i, $p := sort .Page.Parent.Pages}}
              {{$selected = ""}}
              {{if eq $p.Title $page.Title}}
              {{$selected = "selected"}}
              {{end}}
              <div class="timeline-border {{$selected}}">
                <div class="dots">{{add $i 1}}</div>
                <a href="{{$p.Permalink}}" class="point">{{$p.Title}} </a>
              </div>
              {{end}}
            </div>
          </div>

          <div class="col m7 l7">
            <div class="middle-padding">
              <div class="middle-wrapper">
                <div style="box-shadow: 0 8px 10px -6px #EEE;">
                  <div style="padding: 0 24px" class="hide-on-med-and-up">
                    <div class="breadcrumbs valign-wrapper">
                      <a href="#"><span>Front-end</span></a>
                      <a href="#" class="material-icons">chevron_right</a>
                      <a href="#"><span>React</span></a>
                    </div>
                    <p class="on-this-page">On this page:</p>
                    {{.TableOfContents}}
                  </div>
                </div>
                <div class="content">
                  <h1>{{.Page.Title}}</h1>
                  {{.Page.Content}}
                </div>
              </div> <br />

              <div class="buttons hide-on-med-and-up">
                <div class="button1 valign-wrapper">
                  <a href="#" class="material-icons">chevron_left</a>
                </div> <br />
                <div class="button2">
                  <div class="next-topic">
                    <p class=next-topic-text>Next topic</p>
                    <a href="#" class="material-icons">chevron_right</a>
                  </div>
                </div>
              </div>

              <div class="buttons-l hide-on-small-only">
                <div class="col m6 l6">
                  {{if .NextInSection}}
                  <a href="{{.NextInSection.Permalink}}">
                    <div class="previous">
                      <div class="material-icons">chevron_left</div>
                      <div style="margin-left: 16px;">
                        <div class="topic">Previous Topic</div>
                        <div class="next-topic">{{.NextInSection.Title}}</div>
                      </div>
                    </div>
                  </a>
                  {{end}}
                </div>

                <div class="col m6 l6">
                  {{if .PrevInSection}}
                  <a href="{{.PrevInSection.Permalink}}">
                    <div class="next">
                      <div style="margin-right: 16px;">
                        <div class="topic">Next Topic</div>
                        <div class="next-topic">{{.PrevInSection.Title}}</div>
                      </div>
                      <div class="material-icons">chevron_right</div>
                    </div>
                  </a>
                  {{end}}
                </div>
              </div>
            </div>
          </div>

          <div class="col m2 l2 hide-on-small-only">
            <div class="right-wrapper">
              <div class="on-this-page">On this page:</div>
              {{.Page.TableOfContents}}
            </div>
          </div>
        </div>
      </div>
    </div>
    {{partial "newsletter.html" . }}
    {{partial "footer.html" . }}
  </div>
</body>

</html>