<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0" />
  <link type="text/css" rel="stylesheet" href="/css/app.css" media="screen,projection" />
  <link rel="stylesheet" href="/css/darcula.css">
  <link rel="shortcut icon" type="image/png" href="/images/logo.svg"/>
  <link
  href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;700;800&display=swap"
  rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
  integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <link
  href="https://fonts.googleapis.com/icon?family=Material+Icons|Raleway:100,200,300,400,500,600,700,800,900|Open+Sans:300,400,600,700,800"
  rel="stylesheet">
  
  <title>{{.Parent.Title}} - Space Cloud</title>
  <meta name="description" content="{{.Parent.Description}}.">
  <meta property="og:type" content="website" />
  <meta property="og:title" content="{{.Parent.Title}} - Space Cloud" />
  <meta property="og:description" content="{{.Parent.Description}}." />
  <meta property="og:image" content="https://spaceuptech.com/images/kit/logo-white.svg" />
  <meta property="og:url" content="https://spaceuptech.com" />
  <meta property="og:site_name" content="Space Up Technologies" />
  <meta name="twitter:title" content="{{.Parent.Title}} - Space Cloud">
  <meta name="twitter:description" content="{{.Parent.Description}}.">
  <meta name="twitter:image" content="https://spaceuptech.com/images/kit/logo-white.svg">
  <meta name="twitter:site" content="@SpaceUpTech">
  <meta name="twitter:creator" content="@SpaceUpTech">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-104521884-4"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-104521884-4');
  </script>
</head>

<body>
  {{partial "sidenav.html" . }}
  {{ partial "discord.html" . }}
  <div class="course">
    {{ partial "topbar-white.html" . }}
    <div class="topbar-breadcrumb valign-wrapper hide-on-med-and-down">
      <a href="/"><span>{{.Parent.Parent.Title}}</span></a>
      <a href="{{.Parent.RelPermalink}}" class="material-icons breadcrumb-icon">chevron_right</a>
      <a href="{{.Parent.RelPermalink}}"><span>{{.Parent.Title}}</span></a>
    </div>

    <div style="background-color: #EBF4F5">
      <div class="row-top-padding">
        <div class="row">
          <div class="col l2 hide-on-med-and-down">
            <div class="left-wrapper">
              {{$selected := ""}}
              {{$page := .Page}}
              {{range $i, $p := sort .Page.Parent.Pages}}
              {{$selected = ""}}
              {{if eq $p.Title $page.Title}}
              {{$selected = "selected"}}
              {{end}}
              <div class="timeline-border {{$selected}}">
                <div class="dots">{{add $i 1}}</div>
                <a href="{{$p.RelPermalink}}" class="point">{{$p.Title}} </a>
              </div>
              {{end}}
            </div>
          </div>

          <div class="col l7 s12">
            <div class="middle-padding">
              <div class="middle-wrapper">
                <!-- <div style="box-shadow: 0px 1px 4px rgba(0,0,0,0.2);"> -->
                <div style="padding: 0 24px" class="hide-on-large-only">
                  <div class="breadcrumbs valign-wrapper">
                    <a href="/"><span>{{.Parent.Parent.Title}}</span></a>
                    <a href="{{.Parent.RelPermalink}}" class="material-icons">chevron_right</a>
                    <a href="{{.Parent.RelPermalink}}"><span>{{.Parent.Title}}</span></a>
                  </div>
                  <!-- <p class="on-this-page">On this page</p>
                    {{.TableOfContents}} -->
                </div>
                <!-- </div> -->
                <div class="content">
                  <h1>{{.Page.Title}}</h1>
                  <br>
                  {{.Page.Content}}
                </div>
              </div> <br />

              <div class="buttons hide-on-large-only">
                {{if .NextInSection}}
                <div class="button1 valign-wrapper">
                  <a href="{{.NextInSection.RelPermalink}}">
                    <div class="material-icons">chevron_left</div>
                  </a>
                </div> <br />
                {{end}}

                {{if .PrevInSection}}
                <div class="button2">
                  <a href="{{.PrevInSection.RelPermalink}}">
                    <div class="next-topic">
                      <p class=next-topic-text>Next topic</p>
                      <div class="material-icons">chevron_right</div>
                    </div>
                  </a>
                </div>
                {{end}}
              </div>

              <div class="buttons-l hide-on-med-and-down">
                <div class="col l6">
                  {{if .NextInSection}}
                  <a href="{{.NextInSection.RelPermalink}}">
                    <div class="previous">
                      <div class="material-icons">chevron_left</div>
                      <div style="margin-left: 16px;">
                        <div class="topic">Previous Topic</div>
                        <div class="next-topic">{{.NextInSection.Title}}</div>
                      </div>
                    </div>
                  </a>
                  {{end}}
                </div>

                <div class="col l6">
                  {{if .PrevInSection}}
                  <a href="{{.PrevInSection.RelPermalink}}">
                    <div class="next">
                      <div style="margin-right: 16px;">
                        <div class="topic">Next Topic</div>
                        <div class="next-topic">{{.PrevInSection.Title}}</div>
                      </div>
                      <div class="material-icons">chevron_right</div>
                    </div>
                  </a>
                  {{end}}
                </div>
              </div>
            </div>
          </div>

          <div class="col l3 hide-on-med-and-down">
            <div class="right-wrapper">
              <div class="on-this-page">On this page:</div>
              {{.Page.TableOfContents}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-content">
      {{partial "footer.html" . }}
    </div>
  </div>

  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="/js/highlight.pack.js"></script>
  <script type="text/javascript" src="/js/newsletter.js"></script>
  <script>
    $(document).ready(function () {
      $('p > img').each(function (){
        $(this).addClass('materialboxed responsive-img');
        const caption = $(this).attr('alt');
        $(this).attr('data-caption', caption);
      })
      $('table').addClass('responsive-table')
      $('.sidenav').sidenav({ edge: 'right' });
      $('.dropdown-trigger').dropdown();
      $('.materialboxed').materialbox();
    });
  </script>
  <script>hljs.initHighlightingOnLoad();</script>
</body>

</html>