<div class="row footer-background">
  <div class="col s12 l10 offset-l1">
    <p class="footer-title">Sign up for Space Cloud Releases and Updates</p>
    <p class="footer-description">Awesome product and community updates; no spam, we promise</p>
  </div>
  <form class="col l7 s10 offset-l1">
    <input id="subscribe-email" type="email" class="validate email-input" placeholder="Your E-mail address" />
    <div style="text-align: center;">
      <span class="subscribe-email-label body-text" style="color: #FF0000;display: none; font-size: 16px; font-family: 'Popins', sans-serif; margin-top: 8px;">Please enter a valid email!</span>
    </div>
  </form>
  <div class="col l3 s10">
    <button id="subscribe-btn" class="btn section-btn subscribe-btn">Subscribe<div id="loading" class="loading-btn"></div></button>
  </div>
  <div class="col s12 l10 offset-l1 divider footer-divider"></div>
  <div class="col s12 l10 offset-l1">
    <div class="col l3 s6">
      <p class="footer-list-title">Space Cloud</p>
      <ul class="footer-list">
        <!-- <li class="footer-list-item"><a href="#">About Us</a></li> -->
        <li class="footer-list-item"><a href="https://spaceuptech.com/contact">Contact Us</a></li>
        <!-- <li class="footer-list-item"><a href="#">Privacy Policy</a></li>
        <li class="footer-list-item"><a href="#">Terms & Conditions</a></li> -->
      </ul>
    </div>
    <div class="col l3 s6">
      <p class="footer-list-title">Product</p>
      <ul class="footer-list">
        <li class="footer-list-item"><a href="https://github.com/spaceuptech/space-cloud">OpenSource</a></li>
        <li class="footer-list-item"><a href="https://spaceuptech.com/pricing">Pro</a></li>
        <li class="footer-list-item"><a href="https://spaceuptech.com/pricing">Enterprise</a></li>
      </ul>
    </div>
    <div class="col l3 s6">
      <p class="footer-list-title">Resources</p>
      <ul class="footer-list">
        <li class="footer-list-item"><a href="https://blog.spaceuptech.com/">Blog</a></li>
        <li class="footer-list-item"><a href="https://docs.spaceuptech.com/">Documentation</a></li>
        <li class="footer-list-item"><a href="https://learn.spaceuptech.com/">Academy</a></li>
        <li class="footer-list-item"><a href="https://github.com/spaceuptech/space-cloud-samples">Sample Apps</a></li>
      </ul>
    </div>
    <div class="col l3 s6">
      <p class="footer-list-title">Social</p>
      <a href="https://www.linkedin.com/company/spaceuptech/" target="_blank"><img src="/images/linkedin.svg" alt="likedin" style="height: 24px; width: 24px;" /></a>
      <a href="https://www.youtube.com/channel/UCDI38thbdf0sdOIHFdSyvUg" target="_blank"><img src="/images/youtube.svg" alt="youtube" style="margin-left: 25px; height: 24px; width: 24px;" /></a>
      <a href="https://twitter.com/spaceuptech" target="_blank" ><img src="/images/twitter.svg" alt="twitter" style="margin-left: 25px; height: 24px; width: 24px;" /></a>
      <p class="footer-list-title">Community</p>
      <a href="https://github.com/spaceuptech/space-cloud" target="_blank"><img src="/images/github.svg" alt="github" style="height: 24px; width: 24px; filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%)" /></a>
      <a href="https://discord.com/invite/RkGjW93" target="_blank"><img src="/images/discord.svg" alt="discord" style="height: 24px; width: 24px; margin-left: 25px; filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%)" /></a>
    </div>
  </div>
  <div class="col s12">
    <p class="copyright-text">© 2020 Space Up Technologies LLP<span class="hide-on-med-and-down">. All Rights Reserved.</span></p>
  </div>
</div>
</div>