<ul id="slide-out" class="sidenav">
  <div class="sidenav-style">
    <a href="https://spaceuptech.com">
      <img src="/images/logo-black.svg" alt="logo" class="sidenav-logo" width="160px">
    </a>
    <li><a href="https://spaceuptech.com" class="sidenav-text-style">Home</a></li>
    <li><a href="/" class="sidenav-text-style">Learn</a></li>
    <li><a href="https://docs.spaceuptech.com" class="sidenav-text-style">Docs</a></li>
    <!-- <li><a href="https://spaceuptech.com/plans" class="sidenav-text-style">Plans</a></li> -->
    <li><a href="https://blog.spaceuptech.com" class="sidenav-text-style">Blog</a></li>
    <li class="sidenav-text-style tryitout">Try Space Cloud!</li>
    <li><a href="https://docs.spaceuptech.com/getting-started/quick-start" class=" btn sidenav-btn">Get Started</a></li>
    <li class="community-style sidenav-text-style">Join the Community</li>
    <li>
      <div class="footer-icons valign-wrapper">
        <a href="https://discordapp.com/invite/ypXEEBr" target="_blank"><img src="/images/discord.svg" height="45"></a>
        <a href="https://github.com/spaceuptech/space-cloud" target="_blank"><img src="/images/github-black.svg" height="30"></a>
      </div>
    </li>
  </div>
</ul>