<div class="topbar valign-wrapper hide-on-med-and-down">
  <a href="/"><img src="/images/logo-white.svg" alt="logo" class="logo-l"></a>
  <span class="topbar-learn-l">Learn</span>
  <nav class="nav-wrapper">
    <ul class="right valign-wrapper">
      <a href="/plans" class="navbar-text-style">Plans </a>
      <a href="learn" class="navbar-text-style">Learn </a>
      <a href="blog" class="navbar-text-style">Blog</a>
      <a href="/docs" class="navbar-text-style">Docs</a>
      <a href="https://github.com/spaceuptech/space-cloud" target="_blank">
        <img class="github" src="/images/github.svg"></a>
      <a href="/docs/quick-start/overview" class="btn get-started-btn">Get Started</a>
    </ul>
  </nav>
</div>

<div class="topbar valign-wrapper hide-on-large-only">
  <a href="/"><img src="/images/logo-up.png" alt="logo" class="logo-s"></a>
  <span class="topbar-learn-s">Learn</span>
  <nav class="nav-wrapper">
    <ul class="right">
      <li><a data-target="slide-out" class="sidenav-trigger">
          <i class="material-icons dehaze">dehaze</i>
        </a></li>
    </ul>
  </nav>
</div>