<div class="topbar valign-wrapper hide-on-med-and-down">
  <a href="https://spaceuptech.com"><img src="/images/logo-white.svg" alt="logo" class="logo-l"></a>
  <a href="/">
    <span class="topbar-learn-l">Learn</span>
  </a>
  <nav class="nav-wrapper">
    <ul class="right valign-wrapper">
      <a href="/" class="navbar-text-style" id="selected">Learn </a>
      <a href="https://docs.spaceuptech.com" class="navbar-text-style">Docs</a>
      <a href="https://spaceuptech.com/plans" class="navbar-text-style">Plans </a>
      <a href="https://blog.spaceuptech.com" class="navbar-text-style">Blog</a>
      <a href="https://github.com/spaceuptech/space-cloud" target="_blank">
        <img class="github" src="/images/github.svg"></a>
      <a href="/space-cloud/basics/setup/" class="btn get-started-btn">Get Started</a>
    </ul>
  </nav>
</div>

<div class="topbar valign-wrapper hide-on-large-only">
  <a href="https://spaceuptech.com"><img src="/images/logo-up.png" alt="logo" class="logo-s"></a>
  <a href="/">
    <span class="topbar-learn-s">Learn</span>
  </a>
  <nav class="nav-wrapper">
    <ul class="right">
      <li><a data-target="slide-out" class="sidenav-trigger">
          <i class="material-icons dehaze">dehaze</i>
        </a></li>
    </ul>
  </nav>
</div>