<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Learn - Space Cloud</title>
  <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  {{ $styles := resources.Get "../src/sass/app.scss" | toCSS | postCSS | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $styles.Permalink }}" integrity="{{ $styles.Data.Integrity }}" media="screen">
  <!-- <link type="text/css" rel="stylesheet" href="/css/app.css" media="screen,projection" /> -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons|Raleway:100,200,300,400,500,600,700,800,900|Open+Sans:300,400,600,700,800" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
    integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

  <meta name="description" content="Learn how Space Cloud simplifies building Serverless Apps at Scale.">
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Learn - Space Cloud" />
  <meta property="og:description" content="Learn how Space Cloud simplifies building Serverless Apps at Scale." />
  <meta property="og:image" content="https://spaceuptech.com/images/kit/logo-white.svg" />
  <meta property="og:url" content="https://spaceuptech.com" />
  <meta property="og:site_name" content="Space Up Technologies" />
  <meta name="twitter:title" content="Learn - Space Cloud">
  <meta name="twitter:description" content="Learn how Space Cloud simplifies building Serverless Apps at Scale.">
  <meta name="twitter:image" content="https://spaceuptech.com/images/kit/logo-white.svg">
  <meta name="twitter:site" content="@SpaceUpTech">
  <meta name="twitter:creator" content="@SpaceUpTech">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-104521884-4"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-104521884-4');
  </script>
</head>


<body>
  {{partial "sidenav.html" . }}
  {{ partial "discord.html" . }}
  <div class="landing main-wrapper">
    <div style="position: relative">
      <center>
        <div class="orange-bg"></div>
      </center>
      <div class="blue-bg">
        {{ partial "topbar.html" . }}
        <div class="top-position">
          <p class="top-title">Real world Space Cloud tutorials for frontend developers with deadlines!</p>
          <p class="top-desc">With these open-source tutorials, you will move from the basics of
            Space Cloud to building real-time applications</p>
        </div>
      </div>
    </div>
    <div class="content-position">
      {{range .Sections}}
      <div class="content-heading valign-wrapper">
        <b><span>{{.Title}}</span></b>
        <div class="material-icons">chevron_right</div>
      </div>
      <div class="row">
        {{range .Sections}}
        {{ partial "cards.html" . }}
        {{end}}
      </div>
      {{end}}
    </div>
    {{ partial "newsletter.html" . }}
    {{ partial "footer.html" . }}
  </div>
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="https://spaceuptech.com/downloads/libraries/space-api-v0.10.1.js"></script>
  <script src="/js/newsletter.js"></script>
  <script>
    $(document).ready(function () {
      $('.sidenav').sidenav({ edge: 'right' });
    });
  </script>
</body>

</html>